* {
    box-sizing: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Helvetica;
    overflow-y: hidden;
}

.timeline {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-300px) translateY(-300px);
}

.event {
    padding: 20px;
    position: absolute;
    border-bottom: 1px solid #eee;
    transition: all .8s ease;
    width: 100%;
}

.event.new {
    opacity: 0;
}

.event.inactive-1 {
    transform: translateY(220px) scale(0.8);
    opacity: 0.5;
}

.event.inactive-2 {
    transform: translateY(400px) scale(0.8);
    opacity: 0.5;
}

.event.inactive-3 {
    transform: translateY(600px) scale(0.8);
    opacity: 0;
}

.event .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.event .user .profileName {
    font-size: 22px;
    font-weight: bold;
}

.event .user .profileUserName {
    font-size: 18px;
    color: #6D6B6B;
}

.event .user .time {
    margin-top: 3px;
    font-size: 14px;
}

.event .profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event .eventContent {
    margin-top: 10px;
}

.event .eventContent .eventText {
    font-size: 26px;
    font-weight: bold;
}

.event .eventContent .branchText {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    color: #5D5DEA;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.hidden {
    display: none;
}

.overlay button {
    border: none;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}